.header{
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
}

.header-left{
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #253543;
}
.header-left-hamburger{
    height: 22px;
    width: 22px;
    margin-left: 20px;
    display: none;
    cursor: pointer;
}
.header-left-hamburger:hover{
    opacity: .8;
}
#header-left-text-platforms{
    font-weight: bold;
    color: #0dc97b;
    transition: color 0.15s;
}
#header-left-text-platforms:hover{
    color: #11c177;
}
#header-left-text-platforms:active{
    color: #0db66f;
}
.header-left-logo{
    object-fit: contain;
    margin-left: 20px;
    margin-right: 25px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.header-left-logo:hover{
    opacity: .8;
}
.header-left-text{
    margin: 0px 13px;
    cursor: pointer;
    transition: color 0.3s;
}
.header-left-text:hover{
    color: #0dc97b;
}
@media (max-width: 760px){
    .header-left-text{
        display: none;
    }
    .header-left-hamburger{
        height: 22px;
        width: 22px;
        margin-left: 20px;
        display:flex;
        
    }
}

.header-right{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.header-right-search{
    height: 22px;
    width: 22px;
    margin-right: 20px;
    cursor: pointer;
    transition: opacity .3s;
}
.header-right-search:hover{
    opacity: .8;
}