.main-content{

}
.content-holder{

    margin-left: 100px;
    margin-right: 100px;
}
.content-holder >*{
    max-width: 1280px;
    position: relative;
    margin: auto;

}

.banner{
    left: 0; 
    right: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-area{
    height: 500px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner-area-left{
    flex: 1;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.banner-area-left-title{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-area-left-description{
    font-size: 24px;
    margin-bottom: 40px;
}
.banner-area-left-buttons{
    display: flex;
    flex-direction: row;
}
.banner-area-left-buttons-button1{
    font-size: 19px;
    padding: 22px 28px;
    background-color: #0dd987;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 22px;
    transition: background-color 0.15s;
    cursor: pointer;
}
.banner-area-left-buttons-button1:hover{
    background-color: #0dd987;;
}
.banner-area-left-buttons-button1:active{
    background-color: #0dd987;;
}
.banner-area-right{
    height: 100%;
    flex: 1;
}
.banner-area-right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.articles-popular{
    margin-bottom: 50px;
}
.articles-title{
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.articles-popular-grid{
    display: grid;
    column-gap: 90px;
    row-gap: 90px;
    grid-template-columns: repeat(3, 1fr);
}
.articles-popular-article{
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 15px;
    height: 400px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: border .3s, box-shadow .3s;
}
.articles-popular-article:hover{
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
}
.articles-popular-article-content{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    height: 100%;
}
.articles-popular-article-content-image{
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.articles-popular-article-content-info{
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
}
.articles-popular-article-content-info-date{
    opacity: 60%;
    flex: 1;
}
.articles-popular-article-content-info-new{
    background-color: #0dd987;
    color: white;
    padding: 8px 13px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
}
.articles-popular-article-content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.articles-popular-article-content-text-title{
    font-size: 22px;
    font-weight: 700;
}
.articles-popular-article-content-text-description{
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    
}



.articles-viewall{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: end;
}
.articles-viewall-holder{
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
}
.articles-viewall-holder:hover{
    text-decoration: underline;
}

.articles-latest{
    margin-bottom: 50px;
}
.articles-latest-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    column-gap: 69px;
    row-gap: 40px   ;
}
.articles-latest-article{
    border: 1px solid rgba(0, 0, 0, .15);
    transition: border .3s, box-shadow .3s;
    border-radius: 15px;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.articles-latest-article-image{
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}
.articles-latest-article-info{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 10px;
}
.articles-latest-article-info-title{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 8px;
}
.articles-latest-article-info-description{
    font-size: 15px;
}
.articles-latest-article:hover{
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
}




.home-suggested-platforms{
    margin-bottom: 120px;
}
.home-suggested-platforms-grid-item-logo{
    padding-right:40px;
    width: 200px;
    object-fit:contain;
}
.home-suggested-platforms-grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
}
.home-suggested-platforms-grid-item{
    height: 200px;
    margin-right: 0%;
    border: 1px solid transparent;
    display: flex;
}
.home-suggested-platforms-grid-item-right{
    flex-direction: column;
    flex: 1;
}
.home-suggested-platforms-grid-item-right-title{
    font-size: 50px;
    font-weight:500;
    margin-bottom: 10px;
}
.home-suggested-platforms-grid-item-right-description{
    font-size: 20px;
    margin-bottom: 20px;
}
.home-suggested-platforms-grid-item-right-button{
    font-size: 20px;
    padding: 8px 35px;
    color: #0dd987;
    background-color: white;
    border: 2px solid #0dd987;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color .2s, border-color .2s, color .2s;
}
.home-suggested-platforms-grid-item-right-button:hover{
    color: white;
    background-color: #0dd987;
    border-color: transparent;
}

@media (max-width: 1350px){
    .articles-latest-article{
        height: 100px;
    }
    .banner-area-left-title{
        font-size: 50px;
    }
    .banner-area-left-description{
        font-size: 20px;
    }
    .articles-popular-grid{
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        row-gap: 90px;
    }
    .articles-popular-article{
        height: 500px;
    }
}

@media (max-width: 1080px){
    .banner-area-right{
        display: none;
    }

    .articles-popular-grid{
        column-gap: 80px;
        row-gap: 80px;
    }
    .articles-popular-article{
        height: 380px;
    }
    .articles-latest-article{
        height: 150px;
    }
    .articles-latest-grid{
        grid-template-columns: 1fr;
    }
    .home-suggested-platforms-grid-item-logo{
        padding-right:30px;
        width: 150px;
    }
    .home-suggested-platforms-grid-item-right-title{
        font-size: 40px;
        margin-bottom: 8px;
    }
    .home-suggested-platforms-grid-item-right-description{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .home-suggested-platforms-grid-item-right-button{
        font-size: 19px;
        padding: 7px 35px;
    }
}
@media (max-width: 900px){
    .articles-latest-article{
        height: 120px;
    }
}

@media (max-width: 800px){
    .articles-popular-grid{
        column-gap: 40px;
        row-gap: 40px;
    }
    .articles-popular-article{
        height: 380px;
    }
    .articles-latest-grid{
        row-gap: 30px;
    }
    .articles-latest-article{
        height: 125px;
    }
    .content-holder{
        margin-left: 50px;
        margin-right: 50px;
    }
    .banner-area-left-buttons-button1{
        font-size: 16px;
        padding: 18px 24px;
        border-radius: 18px;
    }
    .home-suggested-platforms-grid-item{
        height: 140px;
    }
    .home-suggested-platforms-grid-item-logo{
        padding-right:25px;
        width: 100px;
    }
    .home-suggested-platforms-grid-item-right-title{
        font-size: 30px;
        margin-bottom: 8px;
    }
    .home-suggested-platforms-grid-item-right-description{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .home-suggested-platforms-grid-item-right-button{
        font-size: 20px;
        padding: 7px 35px;
    }
}
@media (max-width: 700px){
    .articles-popular-article{
        height: 330px;
    }
    .articles-latest-article{
        height: 110px;
    }
}
@media (max-width: 600px){
    .articles-popular-article{
        height: 450px;
    }
    .articles-popular-article-phone{
        display: none;
    }
    .articles-popular-grid{
        grid-template-columns: 1fr;
    }
    .articles-latest-article{
        height: 90px
    }
}

@media (max-width: 550px){
    .content-holder{
        margin-left: 35px;
        margin-right: 35px;
    }

    .articles-latest-grid{
        row-gap: 30px;
    }
    .articles-latest-article{
        height: 70px;
    }
    .home-suggested-platforms-grid-item{
        height: 150px;
    }
    .home-suggested-platforms-grid-item-logo{
        padding-right:20px;
        width: 80px;
    }
    .home-suggested-platforms-grid-item-right-title{
        font-size: 25px;
        margin-bottom: 8px;
    }
    .home-suggested-platforms-grid-item-right-description{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .home-suggested-platforms-grid-item-right-button{
        font-size: 20px;
        padding: 7px 35px;
    }
}
@media (max-width: 300px){
    .content-holder{
        margin-left: 20px;
        margin-right: 20px;
    }
    .articles-latest-grid{
        row-gap: 30px;
    }
    .articles-latest-article{
        height: 100px;
    }
    .banner-area-left-title{
        font-size: 30px;
    }
    .banner-area-left-description{
        font-size: 15px;
    }
    .banner-area-left-buttons-button1{
        font-size: 15px;
        padding: 18px 24px;
        border-radius: 18px;
    }
    .banner{
        padding-top: 0px;
    }
}
