/*HEADER*/
.header {
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
}

.header-left {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #253543;
}

.header-left-hamburger {
    height: 22px;
    width: 22px;
    margin-left: 20px;
    display: none;
    cursor: pointer;
}

.header-left-hamburger:hover {
    opacity: .8;
}

#header-left-text-platforms {
    font-weight: bold;
    color: #0dc97b;
    transition: color 0.15s;
}

#header-left-text-platforms:hover {
    color: #11c177;
}

#header-left-text-platforms:active {
    color: #0db66f;
}

.header-left-logo {
    object-fit: contain;
    margin-left: 20px;
    margin-right: 25px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.header-left-logo:hover {
    opacity: .8;
}

.header-left-text {
    margin: 0px 13px;
    cursor: pointer;
    transition: color 0.3s;
}

.header-left-text:hover {
    color: #0dc97b;
}

@media (max-width: 760px) {
    .header-left-text {
        display: none;
    }

    .header-left-hamburger {
        height: 22px;
        width: 22px;
        margin-left: 20px;
        display: flex;

    }
}

.header-right {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-right-search {
    height: 22px;
    width: 22px;
    margin-right: 20px;
    cursor: pointer;
    transition: opacity .3s;
}

.header-right-search:hover {
    opacity: .8;
}


/*SIDEBAR*/
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 69px;
    left: 0;
    bottom: 0;
    width: 180px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    z-index: 99;
    padding-top: 20px;
    font-size: 18px;
}

.sidebar-item {
    margin: 10px 0px 10px 15px;
    cursor: pointer;
    transition: color 0.3s;
    display: inline-block;
}

.sidebar-item:hover {
    color: #0bc772;
}


/*FOOTER*/
.footer {

    box-shadow: 0 -2px 5px rgba(0, 0, 0, .1);
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;

}

.footer-content {
    left: 0;
    right: 0;
    position: absolute;

    display: flex;
    flex-direction: column;
}

.footer-content-top {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.footer-content-top>* {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
}

.footer-content-top-contact {
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.footer-content-top-contact-branding {
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-content-top-contact-branding-logo {
    width: 50px;
}

.footer-content-top-contact-branding-name {
    font-size: 35px;
    margin-left: 20px;
}

.footer-content-top-contact-email {
    margin-left: 75px;
    margin-top: 20px;
}

.footer-content-top-quicklinks {
    display: flex;
    justify-content: center;
}

.footer-content-top-quicklinks-list {
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.footer-content-top-quicklinks-list-item {
    margin: 10px 0px;
    font-size: 16px;
}

.footer-content-top-quicklinks-list-item span {
    cursor: pointer;
}

.footer-content-top-quicklinks-list-item span:hover {
    text-decoration: underline;
}

.footer-content-top-social {
    border-left: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
}

.footer-content-top-social-follow {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

.footer-content-top-social-list {
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer-content-top-social-list-item {
    margin: 0px 15px;
}

.footer-content-top-social-list-item img {
    width: 25px;
    cursor: pointer;
    transition: width .15s, margin .15s;
}

.footer-content-top-social-list-item img:hover {
    width: 29px;
    margin: 0px 13px;
}

.footer-content-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    font-size: 13px;
}

.footer-content-disclaimer {
    font-size: 13px;
    margin-bottom: 50px;
    text-align: center;
}

@media (max-width: 1200px) {
    .footer-content-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 10px;
    }

    .footer-content-top>* {
        margin-bottom: 10px;
    }

    .footer-content-top-social-list {
        flex-direction: row;
    }

    .footer-content-top-social-list-item {
        margin-bottom: 0px;
        margin-right: 10px;
    }

    .footer-content-top-social-list-item img:hover {
        margin-bottom: -7px;
        margin-right: 7px;
    }

    .footer-content-top-contact-branding-logo {
        width: 30px;
    }

    .footer-content-top-contact-branding-name {
        font-size: 28px;
        margin-left: 14px;
    }

    .footer-content-top-contact-email {
        margin-left: 44px;
        margin-top: 20px;
    }

    .footer-content-top-contact {
        border-right: none;
        width: 100%;
        display: flex;
    }

    .footer-content-top-quicklinks {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }

    .footer-content-top-social {
        border-left: none;
    }

    .footer {
        height: 690px;
    }
}

@media (max-width: 610px) {
    .footer-content-top-contact {
        display: inline-block;
        width: auto;
    }
}